<!--begin header-->
<header class="header">
    <div class="container">
        <div class="header__wrapper header_wrap">
            <div class="header_wrap__logo col-md-3">
                <a href="/"><img src="img/logo.png" alt="Logo"></a>
            </div>
            <div class="header_wrap__nav col-md-5">
                <nav>
                    <ul>
                        <li class="current"><a href="#/">Wir</a></li>
                        <li><a href="#/">BackUp</a></li>
                        <li><a href="#/">Jobs</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header_wrap__phone col-md-4">
                <a href="tel:+49 7442 608231">
                    <img src="img/icon_phone.svg" alt="Icon">
                    +49 7442 608231
                </a>
            </div>
        </div>
    </div>
</header>
<!--end header-->
