@font-face {
  font-family: 'HouschkaRounded-Light';
  font-style: normal;
  font-weight: normal;
  src: local('HouschkaRounded-Light'), url('../fonts/HouschkaRounded-Light.woff') format('woff');
}

@font-face {
  font-family: 'HouschkaRounded-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('HouschkaRounded-Medium'), url('../fonts/HouschkaRounded-Medium.woff') format('woff');
}

@font-face {
  font-family: 'HouschkaRounded-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('HouschkaRounded-Bold'), url('../fonts/HouschkaRounded-Bold.woff') format('woff');
}


